= render CitizensAdviceComponents::NoticeBanner.new(label: "Notice") do
  %p
    Rebel Energy customers -
    %a{ href: link }
      read our advice about what to do if your energy supplier goes bust.

