.last-added-appliance.js-last-added-appliance{ notice_attrs }
  = render CitizensAdviceComponents::SuccessMessage.new(message: message)
  .last-added-appliance__dismiss-wrapper
    %button{ dismiss_button_attrs }
