---
http_interactions:
- request:
    method: post
    uri: https://graphql.contentful.com/content/v1/spaces/<CONTENTFUL_SPACE_ID>/environments/master
    body:
      encoding: UTF-8
      string: '{"query":"query Queries__SupplierDetail($top_three_ranks: [Int], $tag_filter:
        ContentfulMetadataTagsFilter, $slug: String) {\n  energySupplierCollection(order:
        rank_ASC, where: {contentfulMetadata: {tags: $tag_filter}, OR: [{slug: $slug},
        {rank_in: $top_three_ranks}]}) {\n    total\n    items {\n      name\n      whitelabelSupplier
        {\n        name\n      }\n      slug\n      rank\n      complaintsRatingScore\n      complaintsNumber\n      contactEmail\n      contactRating\n      contactTime\n      contactWebchatSync\n      contactWebchatAsync\n      contactWhatsappSync\n      contactWhatsappAsync\n      contactInAppSync\n      contactInAppAsync\n      contactSmsSync\n      contactSmsAsync\n      contactPortalSync\n      contactPortalAsync\n      guaranteeRating\n      overallRating\n      dataAvailable\n      billAccuracyAndMeteringRating\n      billsAccuracySmart\n      billsAccuracyTraditional\n      smartOperating\n      guaranteeList
        {\n        json\n      }\n      contactInfo {\n        json\n      }\n      otherContactInfo
        {\n        json\n      }\n      billingInfo {\n        json\n      }\n      fuelMix
        {\n        json\n      }\n      openingHours {\n        json\n      }\n    }\n  }\n}","operationName":"Queries__SupplierDetail","variables":{"slug":"invalid-supplier","top_three_ranks":[901,902,903],"tag_filter":{"id_contains_some":"test"}},"context":{}}'
    headers:
      Authorization:
      - Bearer <CONTENTFUL_CDA_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '6380160002225102670'
      X-Contentful-Graphql-Query-Cost:
      - '200'
      X-Contentful-Route:
      - "/spaces/:spaceId/environments/:environmentId"
      X-Contentful-Region:
      - us-east-1
      Contentful-Api:
      - gql
      X-Contentful-Request-Id:
      - d186828a-ab94-406e-b003-3ed141997141
    body:
      encoding: UTF-8
      string: '{"data":{"energySupplierCollection":{"total":3,"items":[{"whitelabelSupplier":null,"guaranteeList":{"json":{"data":{},"content":[{"data":{},"content":[{"data":{},"marks":[],"value":"","nodeType":"text"},{"data":{"uri":"https://www.energy-uk.org.uk/our-work/energy-switch-guarantee"},"content":[{"data":{},"marks":[],"value":"Switch
        Guarantee","nodeType":"text"}],"nodeType":"hyperlink"},{"data":{},"marks":[],"value":"","nodeType":"text"}],"nodeType":"paragraph"}],"nodeType":"document"}},"contactInfo":{"json":{"nodeType":"document","data":{},"content":[{"nodeType":"paragraph","data":{},"content":[{"nodeType":"text","value":"Telephone:
        0808 164 1088\nEmail: ","marks":[],"data":{}},{"nodeType":"hyperlink","data":{"uri":"mailto:hello@octopus.energy"},"content":[{"nodeType":"text","value":"hello@octopus.energy","marks":[],"data":{}}]},{"nodeType":"text","value":"\nWebsite:
        ","marks":[],"data":{}},{"nodeType":"hyperlink","data":{"uri":"https://octopus.energy"},"content":[{"nodeType":"text","value":"https://octopus.energy","marks":[],"data":{}}]},{"nodeType":"text","value":"","marks":[],"data":{}}]}]}},"otherContactInfo":{"json":{"data":{},"content":[{"data":{},"content":[{"data":{},"marks":[],"value":"Web
        Chat: No\nRing backs: No\nMobile hotline: No\nMinicom / Text: No\nSignVideo:
        Yes","nodeType":"text"}],"nodeType":"paragraph"}],"nodeType":"document"}},"billingInfo":{"json":{"data":{},"content":[{"data":{},"content":[{"data":{},"content":[{"data":{},"content":[{"data":{},"marks":[],"value":"Direct
        debit: Yes","nodeType":"text"}],"nodeType":"paragraph"}],"nodeType":"list-item"},{"data":{},"content":[{"data":{},"content":[{"data":{},"marks":[],"value":"Cash
        or cheque: Yes","nodeType":"text"}],"nodeType":"paragraph"}],"nodeType":"list-item"},{"data":{},"content":[{"data":{},"content":[{"data":{},"marks":[],"value":"Prepayment:
        Yes","nodeType":"text"}],"nodeType":"paragraph"}],"nodeType":"list-item"}],"nodeType":"unordered-list"},{"data":{},"content":[{"data":{},"marks":[],"value":"","nodeType":"text"}],"nodeType":"paragraph"}],"nodeType":"document"}},"fuelMix":{"json":{"data":{},"content":[{"data":{},"content":[{"data":{},"content":[{"data":{},"content":[{"data":{},"marks":[],"value":"Fossil
        fuel: 0%","nodeType":"text"}],"nodeType":"paragraph"}],"nodeType":"list-item"},{"data":{},"content":[{"data":{},"content":[{"data":{},"marks":[],"value":"Nuclear:
        0%","nodeType":"text"}],"nodeType":"paragraph"}],"nodeType":"list-item"},{"data":{},"content":[{"data":{},"content":[{"data":{},"marks":[],"value":"Renewable:
        100%","nodeType":"text"}],"nodeType":"paragraph"}],"nodeType":"list-item"},{"data":{},"content":[{"data":{},"content":[{"data":{},"marks":[],"value":"Other:
        0%","nodeType":"text"}],"nodeType":"paragraph"}],"nodeType":"list-item"}],"nodeType":"unordered-list"},{"data":{},"content":[{"data":{},"marks":[],"value":"","nodeType":"text"}],"nodeType":"paragraph"}],"nodeType":"document"}},"openingHours":{"json":{"data":{},"content":[{"data":{},"content":[{"data":{},"content":[{"data":{},"content":[{"data":{},"marks":[],"value":"Monday:
        9am - 5pm","nodeType":"text"}],"nodeType":"paragraph"}],"nodeType":"list-item"},{"data":{},"content":[{"data":{},"content":[{"data":{},"marks":[],"value":"Tuesday:
        9am - 5pm","nodeType":"text"}],"nodeType":"paragraph"}],"nodeType":"list-item"},{"data":{},"content":[{"data":{},"content":[{"data":{},"marks":[],"value":"Wednesday:
        9am - 5pm","nodeType":"text"}],"nodeType":"paragraph"}],"nodeType":"list-item"},{"data":{},"content":[{"data":{},"content":[{"data":{},"marks":[],"value":"Thursday:
        9am - 5pm","nodeType":"text"}],"nodeType":"paragraph"}],"nodeType":"list-item"},{"data":{},"content":[{"data":{},"content":[{"data":{},"marks":[],"value":"Friday:
        9am - 4pm","nodeType":"text"}],"nodeType":"paragraph"}],"nodeType":"list-item"},{"data":{},"content":[{"data":{},"content":[{"data":{},"marks":[],"value":"Saturday:
        Closed","nodeType":"text"}],"nodeType":"paragraph"}],"nodeType":"list-item"},{"data":{},"content":[{"data":{},"content":[{"data":{},"marks":[],"value":"Sunday:
        Closed","nodeType":"text"}],"nodeType":"paragraph"}],"nodeType":"list-item"}],"nodeType":"unordered-list"},{"data":{},"content":[{"data":{},"marks":[],"value":"","nodeType":"text"}],"nodeType":"paragraph"}],"nodeType":"document"}},"name":"Lil
        Tiny Energy Inc","slug":"lil-tiny-energy-inc","rank":901,"complaintsRatingScore":1.5,"complaintsNumber":77,"contactEmail":51.4,"contactRating":3.3,"contactTime":"00:02:32","contactWebchatSync":"00:02:32","contactWebchatAsync":null,"contactWhatsappSync":"00:05:47","contactWhatsappAsync":null,"contactInAppSync":"03:07:51","contactInAppAsync":null,"contactSmsSync":"00:32:01","contactSmsAsync":null,"contactPortalSync":"00:01:24","contactPortalAsync":null,"guaranteeRating":3,"overallRating":4.8,"dataAvailable":true,"billAccuracyAndMeteringRating":1,"billsAccuracySmart":92.8,"billsAccuracyTraditional":89.7,"smartOperating":95.8},{"whitelabelSupplier":null,"guaranteeList":{"json":{"data":{},"content":[{"data":{},"content":[{"data":{},"content":[{"data":{},"content":[{"data":{},"marks":[],"value":"","nodeType":"text"},{"data":{"uri":"https://www.energy-uk.org.uk/our-work/energy-switch-guarantee"},"content":[{"data":{},"marks":[],"value":"Switch
        Guarantee","nodeType":"text"}],"nodeType":"hyperlink"},{"data":{},"marks":[],"value":"","nodeType":"text"}],"nodeType":"paragraph"}],"nodeType":"list-item"},{"data":{[...]
- request:
    method: post
    uri: https://graphql.contentful.com/content/v1/spaces/<CONTENTFUL_SPACE_ID>/environments/master
    body:
      encoding: UTF-8
      string: '{"query":"query Queries__QuarterDates($content_id: String!, $preview:
        Boolean = false) {\n  contentPatternStringCollection(where: {sys: {id: $content_id}},
        preview: $preview) {\n    items {\n      contentPatternStringName\n      body\n      sys
        {\n        id\n      }\n    }\n  }\n}","operationName":"Queries__QuarterDates","variables":{"content_id":"3OdGRuiq5a99kVxYpQQklF","top_three_ranks":[901,902,903],"tag_filter":{"id_contains_some":"test"}},"context":{}}'
    headers:
      Authorization:
      - Bearer <CONTENTFUL_CDA_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '2738356764185477414'
      X-Contentful-Graphql-Query-Cost:
      - '100'
      X-Contentful-Route:
      - "/spaces/:spaceId/environments/:environmentId"
      X-Contentful-Region:
      - us-east-1
      Contentful-Api:
      - gql
      X-Contentful-Request-Id:
      - 3641f4dd-3f4c-4264-95bb-271b90a0519b
    body:
      encoding: UTF-8
      string: '{"data":{"contentPatternStringCollection":{"items":[{"sys":{"id":"3OdGRuiq5a99kVxYpQQklF"},"contentPatternStringName":"Energy
        CSR quarter dates","body":"October to December 2025"}]}}}'
  recorded_at: Wed, 18 Mar 2026 09:00:04 GMT
recorded_with: VCR 6.4.0
