---
http_interactions:
- request:
    method: post
    uri: https://graphql.contentful.com/content/v1/spaces/<CONTENTFUL_SPACE_ID>/environments/master
    body:
      encoding: UTF-8
      string: '{"query":"query Queries__SupplierDetail($top_three_ranks: [Int], $tag_filter:
        ContentfulMetadataTagsFilter, $slug: String) {\n  energySupplierCollection(order:
        rank_ASC, where: {contentfulMetadata: {tags: $tag_filter}, OR: [{slug: $slug},
        {rank_in: $top_three_ranks}]}) {\n    total\n    items {\n      name\n      whitelabelSupplier
        {\n        name\n      }\n      slug\n      rank\n      complaintsRating\n      complaintsRatingScore\n      complaintsNumber\n      contactEmail\n      contactRating\n      contactSocialMedia\n      contactTime\n      contactWebchatSync\n      contactWebchatAsync\n      contactWhatsappSync\n      contactWhatsappAsync\n      contactInAppSync\n      contactInAppAsync\n      contactSmsSync\n      contactSmsAsync\n      contactPortalSync\n      contactPortalAsync\n      guaranteeRating\n      overallRating\n      dataAvailable\n      billAccuracyAndMeteringRating\n      billsAccuracySmart\n      billsAccuracyTraditional\n      smartOperating\n      guaranteeList
        {\n        json\n      }\n      contactInfo {\n        json\n      }\n      otherContactInfo
        {\n        json\n      }\n      billingInfo {\n        json\n      }\n      fuelMix
        {\n        json\n      }\n      openingHours {\n        json\n      }\n    }\n  }\n}","operationName":"Queries__SupplierDetail","variables":{"slug":"invalid-supplier","top_three_ranks":[901,902,903],"tag_filter":{"id_contains_some":"test"}},"context":{}}'
    headers:
      Authorization:
      - Bearer <CONTENTFUL_CDA_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '6359325923555997222'
      X-Contentful-Graphql-Query-Cost:
      - '200'
      X-Contentful-Route:
      - "/spaces/:spaceId/environments/:environmentId"
      X-Contentful-Region:
      - us-east-1
      Contentful-Api:
      - gql
      X-Contentful-Request-Id:
      - 04eadcf4-d759-45f2-8d08-e9a3d7118009
    body:
      encoding: UTF-8
      string: '{"data":{"energySupplierCollection":{"total":3,"items":[{"whitelabelSupplier":null,"guaranteeList":{"json":{"data":{},"content":[{"data":{},"content":[{"data":{},"marks":[],"value":"Switch
        Guarantee","nodeType":"text"}],"nodeType":"paragraph"}],"nodeType":"document"}},"contactInfo":{"json":{"data":{},"content":[{"data":{},"content":[{"data":{},"marks":[],"value":"Telephone:
        0808 164 1088\nEmail: hello@octopus.energy\nWebsite: octopus.energy","nodeType":"text"}],"nodeType":"paragraph"}],"nodeType":"document"}},"otherContactInfo":{"json":{"data":{},"content":[{"data":{},"content":[{"data":{},"marks":[],"value":"Web
        Chat: No\nRing backs: No\nMobile hotline: No\nMinicom / Text: No\nSignVideo:
        Yes","nodeType":"text"}],"nodeType":"paragraph"}],"nodeType":"document"}},"billingInfo":{"json":{"data":{},"content":[{"data":{},"content":[{"data":{},"marks":[],"value":"Direct
        debit: Yes\nCash or cheque: Yes\nPrepayment: Yes","nodeType":"text"}],"nodeType":"paragraph"}],"nodeType":"document"}},"fuelMix":{"json":{"data":{},"content":[{"data":{},"content":[{"data":{},"content":[{"data":{},"content":[{"data":{},"marks":[],"value":"Fossil
        fuel: 0%","nodeType":"text"}],"nodeType":"paragraph"}],"nodeType":"list-item"},{"data":{},"content":[{"data":{},"content":[{"data":{},"marks":[],"value":"Nuclear:
        0%","nodeType":"text"}],"nodeType":"paragraph"}],"nodeType":"list-item"},{"data":{},"content":[{"data":{},"content":[{"data":{},"marks":[],"value":"Renewable:
        100%","nodeType":"text"}],"nodeType":"paragraph"}],"nodeType":"list-item"},{"data":{},"content":[{"data":{},"content":[{"data":{},"marks":[],"value":"Other:
        0%","nodeType":"text"}],"nodeType":"paragraph"}],"nodeType":"list-item"}],"nodeType":"unordered-list"},{"data":{},"content":[{"data":{},"marks":[],"value":"","nodeType":"text"}],"nodeType":"paragraph"}],"nodeType":"document"}},"openingHours":{"json":{"data":{},"content":[{"data":{},"content":[{"data":{},"marks":[],"value":"Monday:
        9am - 5pm\nTuesday: 9am - 5pm\nWednesday: 9am - 5pm\nThursday: 9am - 5pm\nFriday:
        9am - 4pm\nSaturday: Closed\nSunday: Closed","nodeType":"text"}],"nodeType":"paragraph"}],"nodeType":"document"}},"name":"Lil
        Tiny Energy Inc","slug":"lil-tiny-energy-inc","rank":901,"complaintsRating":1,"complaintsRatingScore":1.5,"complaintsNumber":77,"contactEmail":51.4,"contactRating":3.3,"contactSocialMedia":"00:01:48","contactTime":"00:02:32","contactWebchatSync":"00:02:32","contactWebchatAsync":null,"contactWhatsappSync":"00:05:47","contactWhatsappAsync":null,"contactInAppSync":"03:07:51","contactInAppAsync":null,"contactSmsSync":"00:32:01","contactSmsAsync":null,"contactPortalSync":"00:01:24","contactPortalAsync":null,"guaranteeRating":3,"overallRating":4.8,"dataAvailable":true,"billAccuracyAndMeteringRating":1,"billsAccuracySmart":92.8,"billsAccuracyTraditional":89.7,"smartOperating":95.8},{"whitelabelSupplier":null,"guaranteeList":{"json":{"data":{},"content":[{"data":{},"content":[{"data":{},"marks":[],"value":"Switch
        Guarantee, Vulnerability Commitment","nodeType":"text"}],"nodeType":"paragraph"}],"nodeType":"document"}},"contactInfo":{"json":{"data":{},"content":[{"data":{},"content":[{"data":{},"marks":[],"value":"Telephone:
        0808 164 1088\nEmail: hello@octopus.energy\nWebsite: octopus.energy","nodeType":"text"}],"nodeType":"paragraph"}],"nodeType":"docum[...]
- request:
    method: post
    uri: https://graphql.contentful.com/content/v1/spaces/<CONTENTFUL_SPACE_ID>/environments/master
    body:
      encoding: UTF-8
      string: '{"query":"query Queries__QuarterDates($content_id: String!, $preview:
        Boolean = false) {\n  contentPatternStringCollection(where: {sys: {id: $content_id}},
        preview: $preview) {\n    items {\n      contentPatternStringName\n      body\n      sys
        {\n        id\n      }\n    }\n  }\n}","operationName":"Queries__QuarterDates","variables":{"content_id":"3OdGRuiq5a99kVxYpQQklF","top_three_ranks":[901,902,903],"tag_filter":{"id_contains_some":"test"}},"context":{}}'
    headers:
      Authorization:
      - Bearer <CONTENTFUL_CDA_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '1918862396551197398'
      X-Contentful-Graphql-Query-Cost:
      - '100'
      X-Contentful-Route:
      - "/spaces/:spaceId/environments/:environmentId"
      X-Contentful-Region:
      - us-east-1
      Contentful-Api:
      - gql
      X-Contentful-Request-Id:
      - 103d31f7-ad0f-4ad8-aac3-262ddee225bb
    body:
      encoding: UTF-8
      string: '{"data":{"contentPatternStringCollection":{"items":[{"sys":{"id":"3OdGRuiq5a99kVxYpQQklF"},"contentPatternStringName":"Energy
        CSR quarter dates","body":"July to September 2025"}]}}}'
  recorded_at: Wed, 21 Jan 2026 16:27:34 GMT
recorded_with: VCR 6.4.0
