---
http_interactions:
- request:
    method: post
    uri: https://graphql.contentful.com/content/v1/spaces/<CONTENTFUL_SPACE_ID>/environments/master
    body:
      encoding: UTF-8
      string: '{"query":"query Queries__Suppliers($tag_filter: ContentfulMetadataTagsFilter)
        {\n  energySupplierCollection(order: rank_ASC, where: {contentfulMetadata:
        {tags: $tag_filter}}) {\n    total\n    items {\n      name\n      whitelabelSupplier
        {\n        name\n      }\n      slug\n      rank\n      complaintsRating\n      complaintsRatingScore\n      complaintsNumber\n      contactEmail\n      contactRating\n      contactSocialMedia\n      contactTime\n      guaranteeRating\n      overallRating\n      dataAvailable\n      billAccuracyAndMeteringRating\n      guaranteeList
        {\n        json\n      }\n      contactInfo {\n        json\n      }\n      otherContactInfo
        {\n        json\n      }\n      billingInfo {\n        json\n      }\n      fuelMix
        {\n        json\n      }\n      openingHours {\n        json\n      }\n      contentfulMetadata
        {\n        tags {\n          id\n        }\n      }\n    }\n  }\n}","operationName":"Queries__Suppliers","variables":{"top_three_ranks":[1,2,3],"tag_filter":{"id_contains_none":"test"}},"context":{}}'
    headers:
      Authorization:
      - Bearer <CONTENTFUL_CDA_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '384082644649565065'
      X-Contentful-Graphql-Query-Cost:
      - '300'
      X-Contentful-Route:
      - "/spaces/:spaceId/environments/:environmentId"
      X-Contentful-Region:
      - us-east-1
      Contentful-Api:
      - gql
      X-Contentful-Request-Id:
      - de21ba14-3b91-4a74-9ca8-3497ea7b3dd4
    body:
      encoding: UTF-8
      string: '{"data":{"energySupplierCollection":{"total":20,"items":[{"whitelabelSupplier":null,"guaranteeList":{"json":{"data":{},"content":[{"data":{},"content":[{"data":{},"marks":[],"value":"Switch
        Guarantee, Vulnerability Commitment","nodeType":"text"}],"nodeType":"paragraph"}],"nodeType":"document"}},"contactInfo":{"json":{"data":{},"content":[{"data":{},"content":[{"data":{},"marks":[],"value":"Telephone:
        0800 030 2302\nEmail: ","nodeType":"text"},{"data":{"uri":"mailto:home@ecotricity.co.uk"},"content":[{"data":{},"marks":[],"value":"home@ecotricity.co.uk","nodeType":"text"}],"nodeType":"hyperlink"},{"data":{},"marks":[],"value":"\nWebsite:
        ","nodeType":"text"},{"data":{"uri":"http://www.ecotricity.co.uk"},"content":[{"data":{},"marks":[],"value":"www.ecotricity.co.uk","nodeType":"text"}],"nodeType":"hyperlink"},{"data":{},"marks":[],"value":"\nWeb
        chat: No\nRing backs: Yes\nMobile hotline: No\nMinicom/text: No\nSignVideo:
        No","nodeType":"text"}],"nodeType":"paragraph"}],"nodeType":"document"}},"otherContactInfo":{"json":{"data":{},"content":[{"data":{},"content":[{"data":{},"marks":[],"value":"Web
        chat: No\nRing backs: Yes\nMobile hotline: No\nMinicom/text: No\nSignVideo:
        No","nodeType":"text"}],"nodeType":"paragraph"}],"nodeType":"document"}},"billingInfo":{"json":{"data":{},"content":[{"data":{},"content":[{"data":{},"marks":[],"value":"Direct
        debit: Yes\nCash or cheque: Yes\nPrepayment: Yes","nodeType":"text"}],"nodeType":"paragraph"}],"nodeType":"document"}},"fuelMix":{"json":{"data":{},"content":[{"data":{},"content":[{"data":{},"marks":[],"value":"Fossil
        fuel: 0%\nNuclear: 0%\nRenewable: 100%\nOther: 0%","nodeType":"text"}],"nodeType":"paragraph"}],"nodeType":"document"}},"openingHours":{"json":{"data":{},"content":[{"data":{},"content":[{"data":{},"marks":[],"value":"Monday:
        9am-7pm\nTuesday: 9am-7pm\nWednesday: 9am-7pm\nThursday: 9am-7pm\nFriday:
        9am-7pm\nSaturday: 9am-5pm \nSunday: 9am-5pm","nodeType":"text"}],"nodeType":"paragraph"}],"nodeType":"document"}},"name":"Ecotricity","slug":"ecotricity","rank":1,"complaintsRating":4,"complaintsRatingScore":null,"complaintsNumber":11.3,"contactEmail":92.5,"contactRating":4,"contactSocialMedia":"N/A","contactTime":"00:00:54","guaranteeRating":5,"overallRating":4.1,"dataAvailable":true,"billAccuracyAndMeteringRating":null,"contentfulMetadata":{"tags":[]}},{"whitelabelSupplier":null,"guaranteeList":{"json":{"data":{},"content":[{"data":{},"content":[{"data":{},"marks":[],"value":"Switch
        Guarantee, Vulnerability Commitment","nodeType":"text"}],"nodeType":"paragraph"}],"nodeType":"document"}},"contactInfo":{"json":{"data":{},"content":[{"data":{},"content":[{"data":{},"marks":[],"value":"Telephone:
        0800 103 2702\nEmail: ","nodeType":"text"},{"data":{"uri":"mailto:hello@outfox.energy"},"content":[{"data":{},"marks":[],"value":"he[...]
