---
http_interactions:
- request:
    method: post
    uri: https://graphql.contentful.com/content/v1/spaces/<CONTENTFUL_SPACE_ID>/environments/master
    body:
      encoding: UTF-8
      string: '{"query":"query Queries__Suppliers($tag_filter: ContentfulMetadataTagsFilter)
        {\n  energySupplierCollection(order: rank_ASC, where: {contentfulMetadata:
        {tags: $tag_filter}}) {\n    total\n    items {\n      name\n      whitelabelSupplier
        {\n        name\n      }\n      slug\n      rank\n      complaintsRatingScore\n      complaintsNumber\n      contactEmail\n      contactRating\n      contactTime\n      guaranteeRating\n      overallRating\n      dataAvailable\n      billAccuracyAndMeteringRating\n      guaranteeList
        {\n        json\n      }\n      contactInfo {\n        json\n      }\n      otherContactInfo
        {\n        json\n      }\n      billingInfo {\n        json\n      }\n      fuelMix
        {\n        json\n      }\n      openingHours {\n        json\n      }\n      contentfulMetadata
        {\n        tags {\n          id\n        }\n      }\n    }\n  }\n}","operationName":"Queries__Suppliers","variables":{"top_three_ranks":[1,2,3],"tag_filter":{"id_contains_none":"test"}},"context":{}}'
    headers:
      Authorization:
      - Bearer <CONTENTFUL_CDA_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '12281266020896318802'
      X-Contentful-Graphql-Query-Cost:
      - '300'
      X-Contentful-Route:
      - "/spaces/:spaceId/environments/:environmentId"
      X-Contentful-Region:
      - us-east-1
      Contentful-Api:
      - gql
      X-Contentful-Request-Id:
      - dc1219bb-1000-4814-b492-c84a5d866f71
    body:
      encoding: UTF-8
      string: '{"data":{"energySupplierCollection":{"total":20,"items":[{"whitelabelSupplier":null,"guaranteeList":{"json":{"nodeType":"document","data":{},"content":[{"nodeType":"unordered-list","content":[{"nodeType":"list-item","content":[{"nodeType":"paragraph","content":[{"nodeType":"hyperlink","content":[{"nodeType":"text","marks":[],"value":"Switch
        Guarantee","data":{}}],"data":{"uri":"https://www.energy-uk.org.uk/our-work/energy-switch-guarantee"}}],"data":{}}],"data":{}},{"nodeType":"list-item","content":[{"nodeType":"paragraph","content":[{"nodeType":"hyperlink","content":[{"nodeType":"text","marks":[],"value":"Vulnerability
        Commitment","data":{}}],"data":{"uri":"https://www.energy-uk.org.uk/our-work/vulnerability-commitment"}}],"data":{}}],"data":{}}],"data":{}}]}},"contactInfo":{"json":{"nodeType":"document","data":{},"content":[{"nodeType":"paragraph","content":[{"nodeType":"text","marks":[],"value":"Telephone:
        0800 030 2302\nEmail: ","data":{}},{"nodeType":"hyperlink","content":[{"nodeType":"text","marks":[],"value":"home@ecotricity.co.uk","data":{}}],"data":{"uri":"mailto:home@ecotricity.co.uk"}},{"nodeType":"text","marks":[],"value":"\nWebsite:
        ","data":{}},{"nodeType":"hyperlink","content":[{"nodeType":"text","marks":[],"value":"www.ecotricity.co.uk","data":{}}],"data":{"uri":"https://www.ecotricity.co.uk"}},{"nodeType":"text","marks":[],"value":"\nWeb
        chat: No\nRing backs: Yes\nMobile hotline: No\nMinicom/text: No\nSignVideo:
        No","data":{}}],"data":{}}]}},"otherContactInfo":{"json":{"data":{},"content":[{"data":{},"content":[{"data":{},"marks":[],"value":"Web
        chat: No\nRing backs: Yes\nMobile hotline: No\nMinicom/text: No\nSignVideo:
        No","nodeType":"text"}],"nodeType":"paragraph"}],"nodeType":"document"}},"billingInfo":{"json":{"nodeType":"document","data":{},"content":[{"nodeType":"unordered-list","content":[{"nodeType":"list-item","content":[{"nodeType":"paragraph","content":[{"nodeType":"text","marks":[],"value":"Direct
        debit: Yes","data":{}}],"data":{}}],"data":{}},{"nodeType":"list-item","content":[{"nodeType":"paragraph","content":[{"nodeType":"text","marks":[],"value":"Cash
        or cheque: Yes","data":{}}],"data":{}}],"data":{}},{"nodeType":"list-item","content":[{"nodeType":"paragraph","content":[{"nodeType":"text","marks":[],"value":"Prepayment:
        Yes","data":{}}],"data":{}}],"data":{}}],"data":{}}]}},"fuelMix":{"json":{"nodeType":"document","data":{},"content":[{"nodeType":"unordered-list","content":[{"nodeType":"list-item","content":[{"nodeType":"paragraph","content":[{"nodeType":"text","marks":[],"value":"Fossil
        fuel: 0%","data":{}}],"data":{}}],"data":{}},{"nodeType":"list-item","content":[{"nodeType":"paragraph","content":[{"nodeType":"text","marks":[],"value":"Nuclear:
        0%","data":{}}],"data":{}}],"data":{}},{"nodeType":"list-item","content":[{"nodeType":"paragraph","content":[{"nodeType":"text","marks":[],"value":"Renewable:
        100%","data":{}}],"data":{}}],"data":{}},{"nodeType":"list-item","content":[{"nodeType":"paragraph","content":[{"nodeType":"text","marks":[],"value":"Other:
        0%","data":{}}],"data":{}}],"data":{}}],"data":{}}]}},"openingHours":{"json":{"nodeType":"document","data":{},"content":[{"nodeType":"unordered-list","content":[{"nodeType":"list-item","content":[{"nodeType":"paragraph","content":[{"nodeType":"text","marks":[],"value":"Monday:
        9am-7pm","data":{}}],"data":{}}],"data":{}},{"nodeType":"list-item","content":[{"nodeType":"paragraph","content":[{"nodeType":"text","marks":[],"value":"Tuesday:
        9am-7pm","data":{}}],"data":{}}],"data":{}},{"nodeType":"list-item","content":[{"nodeType":"paragraph","content":[{"nodeType":"text","marks":[],"value":"Wednesday:
        9am-7pm","data":{}}],"data":{}}],"data":{}},{"nodeType":"list-item","content":[{"nodeType":"paragraph","content":[{"nodeType":"text","marks":[],"value":"Thursday:
        9am-7pm","data":{}}],"data":{}}],"data":{}},{"nodeType":"list-item","content":[{"nodeType":"paragraph","content":[{"nodeType":"text","marks":[],"value":"Friday:
        9am-7pm","data":{}}],"data":{}}],"data":{}},{"nodeType":"list-item","content":[{"nodeType":"paragraph","content":[{"nodeType":"text","marks":[],"value":"Saturday:
        9am-5pm ","data":{}}],"data":{}}],"data":{}},{"nodeType":"list-item","content":[{"nodeType":"paragraph","content":[{"nodeType":"text","marks":[],"value":"Sunday:
        9am-5pm","data":{}}],"data":{}}],"data":{}}],"data":{}}]}},"name":"Ecotricity","slug":"ecotricity","rank":1,"complaintsRatingScore":4,"complaintsNumber":13,"contactEmail":93.5,"contactRating":4,"contactTime":"00:00:46","guaranteeRating":5,"overallRating":3.93,"dataAvailable":true,"billAccuracyAndMeteringRating":3.33,"contentfulMetadata":{"tags":[]}},{"whitelabelSupplier":null,"guaranteeList":{"json":{"nodeType":"document","data":{},"content":[{"nodeType":"unordered-list","content":[{"nodeType":"list-item","content":[{"nodeType":"paragraph","content":[{"nodeType":"hyperlink","content":[{"nodeType":"text","marks":[],"value":"Switch
        Guarantee","data":{}}],"data":{"uri":"https://www.energy-uk.org.uk/our-work/energy-switch-guarantee"}}],"data":{}}],"data":{}},{"nodeType":"list-item","content":[{"nodeType":"paragraph","content":[{"no[...]
