version: 2
updates:
  - package-ecosystem: bundler
    directory: "/"
    schedule:
      interval: weekly
    cooldown:
      default-days: 7
    ignore:
      # Design system upgrade should be performed for npm and bundler at the same time, this should happen manually
      - dependency-name: 'citizens_advice_components'
      # For Rails, ignore all minor updates for version updates only
      - dependency-name: "rails"
        update-types: [ "version-update:semver-minor" ]
    commit-message:
      prefix: '[dependabot:bundler] '
    groups:
      regular-updates: # Group everything except major version updates and security vulnerabilities
        update-types:
          - "minor"
          - "patch"

  - package-ecosystem: npm
    directory: '/'
    schedule:
      interval: weekly
    cooldown:
      default-days: 7
    ignore:
      - dependency-name: '@citizensadvice/design-system'
    commit-message:
      prefix: '[dependabot:npm] '
    groups:
      regular-updates: # Group everything except major version updates and security vulnerabilities
        update-types:
          - "minor"
          - "patch"

  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'weekly'
    cooldown:
      default-days: 7
    commit-message:
      prefix: '[dependabot:actions] '
    groups:
      regular-updates: # Group everything except major version updates and security vulnerabilities
        update-types:
          - "minor"
          - "patch"

  - package-ecosystem: 'pip'
    directory: '/infrastructure/cdk'
    schedule:
      interval: 'weekly'
    cooldown:
      default-days: 7
    commit-message:
      prefix: '[dependabot:pip] '
    groups:
      regular-updates: # Group everything except major version updates and security vulnerabilities
        update-types:
          - "minor"
          - "patch"
        exclude-patterns:
          # Pre-release libraries should be handled individually
          # to keep PRs easier to understand
          - "ruff"

  - package-ecosystem: 'docker'
    directory: '/'
    schedule:
      interval: 'weekly'
    cooldown:
      default-days: 7
    commit-message:
      prefix: '[dependabot:docker] '
