-# haml-lint:disable InlineStyles
- if !Feature.enabled?("FF_NEW_COOKIE_MANAGEMENT") || allow_analytics_cookies?
  %noscript
    %iframe{ src: "https://www.googletagmanager.com/ns.html?id=GTM-T5MB575",
             height: "0", width: "0", style: "display:none;visibility:hidden" }
