.cads-prose
  %h2 How we estimate your costs
  %p
    We've worked out your costs using the rate you pay for electricity or the national average rate and the amount of electricity each appliance uses. For most appliances, electricity usage is based on:
  %ul
    %li
      the 'power rating' - how fast the appliance uses electricity
    %li
      the amount of time you told us you use the appliance

  %p
    It’s harder to work out exact usage for some appliances. For example, ovens and air fryers use more energy in the preheating stage, then turn themselves on and off to stay at the right temperature. We’ve worked out the usage for preheating and cooking separately so it’s more accurate.

  %p
    Washing machines, tumble dryers and dishwashers use different amounts of electricity at different points in their cycle. We’ve worked out the usage based on a typical washing or drying cycle.

  %p
    The actual usage can also depend on things like your appliance’s size or the type of technology it uses.

