{{- if .Values.ingress.enabled -}}
{{- $fullName := include "energy-apps.fullname" . -}}
{{- $svcPort := .Values.service.port -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ $fullName }}
  labels:
    {{- include "energy-apps.labels" . | nindent 4 }}
  annotations:
  {{- if .Values.ingress.restrictToCdn }}
    alb.ingress.kubernetes.io/security-group-prefix-lists: pl-4fa04526
  {{- end }}
  {{- if .Values.ingress.redirectHttpToHttps }}
    alb.ingress.kubernetes.io/actions.ssl-redirect: '{"Type": "redirect", "RedirectConfig": { "Protocol": "HTTPS", "Port": "443", "StatusCode": "HTTP_301"}}'
  {{- end }}
  {{- with .Values.ingress.annotations }}
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  rules:
  - host: {{ .Values.ingress.hostname }}
    http:
      paths:
{{- if .Values.ingress.redirectHttpToHttps }}
        - path: /
          pathType: Prefix
          backend:
            service:
              name: ssl-redirect
              port:
                name: use-annotation
{{- end }}
        - path: /
          pathType: Prefix
          backend:
            service:
              name: {{ $fullName }}
              port:
                name: http
{{- end }}
