---
http_interactions:
- request:
    method: post
    uri: https://graphql.contentful.com/content/v1/spaces/<CONTENTFUL_SPACE_ID>/environments/master
    body:
      encoding: UTF-8
      string: '{"query":"query Queries__Appliances($tag_filter: ContentfulMetadataTagsFilter)
        {\n  applianceCollection(where: {contentfulMetadata: {tags: $tag_filter}},
        order: [category_ASC, name_ASC]) {\n    items {\n      name\n      category\n      wattage\n      usageType\n      additionalKWh\n      variantQuestion\n      variantOptions\n      sys
        {\n        id\n      }\n    }\n  }\n}","operationName":"Queries__Appliances","variables":{"top_three_ranks":[901,902,903],"tag_filter":{"id_contains_some":"test"}},"context":{}}'
    headers:
      Authorization:
      - Bearer <CONTENTFUL_CDA_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '5456703397849506811'
      X-Contentful-Graphql-Query-Cost:
      - '100'
      X-Contentful-Route:
      - "/spaces/:spaceId/environments/:environmentId"
      X-Contentful-Region:
      - us-east-1
      Contentful-Api:
      - gql
      X-Contentful-Request-Id:
      - 34331d46-5d7b-4ae2-a89b-a9ae2e579e6d
    body:
      encoding: UTF-8
      string: '{"data":{"applianceCollection":{"items":[{"sys":{"id":"4Wx5RQDMmNaKARNZ0bFYUQ"},"name":"TEST
        - Electric blanket","category":"Heating","wattage":150,"usageType":"Time","additionalKWh":null,"variantQuestion":null,"variantOptions":null},{"sys":{"id":"2hf9PSZCdpYwQ40HsPmx8b"},"name":"TEST
        - Fan heater","category":"Heating","wattage":2500,"usageType":"Time","additionalKWh":null,"variantQuestion":null,"variantOptions":{"tableData":[]}},{"sys":{"id":"4BQ4Lt7nPkCy7eGZftdOf8"},"name":"TEST
        - Immersion heater","category":"Heating","wattage":3000,"usageType":"Time","additionalKWh":null,"variantQuestion":null,"variantOptions":null},{"sys":{"id":"5FYWv9ZbTiYsTDfHKWtWnx"},"name":"TEST
        - Broadband router","category":"Home electronics","wattage":10,"usageType":"Time","additionalKWh":null,"variantQuestion":null,"variantOptions":null},{"sys":{"id":"1j4RSSWNQV9j7Eyuyibn6F"},"name":"TEST
        - DVD or Blu-ray player"[...]
[...]
