---
http_interactions:
- request:
    method: post
    uri: https://graphql.contentful.com/content/v1/spaces/<CONTENTFUL_SPACE_ID>/environments/master
    body:
      encoding: UTF-8
      string: '{"query":"query Queries__Appliances($tag_filter: ContentfulMetadataTagsFilter)
        {\n  applianceCollection(where: {contentfulMetadata: {tags: $tag_filter}},
        order: [category_ASC, name_ASC]) {\n    items {\n      name\n      category\n      wattage\n      usageType\n      additionalKWh\n      variantQuestion\n      variantOptions\n      sys
        {\n        id\n      }\n    }\n  }\n}","operationName":"Queries__Appliances","variables":{"top_three_ranks":[1,2,3],"tag_filter":{"id_contains_none":"test"}},"context":{}}'
    headers:
      Authorization:
      - Bearer <CONTENTFUL_CDA_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '12419685896138565860'
      X-Contentful-Graphql-Query-Cost:
      - '100'
      X-Contentful-Route:
      - "/spaces/:spaceId/environments/:environmentId"
      X-Contentful-Region:
      - us-east-1
      Contentful-Api:
      - gql
      X-Contentful-Request-Id:
      - 82d5a516-587d-452d-972f-9fbf7c2886f4
    body:
      encoding: UTF-8
      string: '{"data":{"applianceCollection":{"items":[{"sys":{"id":"4qD9neqFYoTvDFDZYs0EIz"},"name":"Electric
        blanket","category":"Heating","wattage":150,"usageType":"Time","additionalKWh":null,"variantQuestion":null,"variantOptions":null},{"sys":{"id":"1EKZxnrrKOcTO5wvf57ABn"},"name":"Fan
        heater","category":"Heating","wattage":2500,"usageType":"Time","additionalKWh":null,"variantQuestion":null,"variantOptions":null},{"sys":{"id":"2wVegfYIlwXG2EwMWoT9RZ"},"name":"Heated
        clothes airer","category":"Heating","wattage":250,"usageType":"Time","additionalKWh":null,"variantQuestion":null,"variantOptions":null},{"sys":{"id":"4sowKrXozAZIWNCsPxEXc5"},"name":"Immersion
        heater","category":"Heating","wattage":300[...]
