%h2 How much do you pay for electricity?

%p
  You can continue using the national average rate or change it to your rate. This is the amount your supplier charges you for the electricity you use. If you don’t know your rate, you can usually find it on a bill from your supplier. It’s measured in pence per kilowatt-hour (p/kWh).

= form.cads_text_field :unit_rate, label: current_step.label, width: :four_chars, required: true