%h2 How much your appliance might be costing you

= form_with model: current_step, url: step_path do |form|
  = form.cads_error_summary
= render "form", current_step: current_step, wizard: wizard

= render ApplianceCalculator::UsagesTableComponent.new(usages: usages, unit_rate: saved_unit_rate)