.cads-grid-row
  .cads-grid-col-md-9
    .other-scores
      %h2 Communication scores
      .communication-scores__descriptions
        = render CsrTable::DescriptionListComponent.new do |c|
          - c.with_descriptions(descriptions)
