.cads-grid-row
  .cads-grid-col-md-9
    .section-scores
      .cads-prose
        %h3 Fewer complaints received
        %p
          If a supplier gets a low number of complaints, we give them a higher star rating.
      = render CsrTable::DescriptionListComponent.new do |c|
        - c.with_descriptions(descriptions)
