.cads-grid-row
  .cads-grid-col-md-9
    .section-scores
      %h2 Contact waiting time
      .cads-prose
        %p
          How long can you expect to wait when contacting this supplier?
      = render CsrTable::DescriptionListComponent.new do |c|
        - c.with_descriptions(descriptions)
