.cads-grid-row
  .cads-grid-col-md-9
    .section-scores
      .cads-prose
        %h3 Customer commitments
        %p
          Is the supplier a member of the Energy Switch Guarantee or the Vulnerability Commitment?
      = render CsrTable::DescriptionListComponent.new do |c|
        - c.with_descriptions(descriptions)
