.cads-grid-row
  .cads-grid-col-md-9
    .other-scores
      %h2 Customer commitments
      .cads-prose
        %p Is the supplier a member of the Energy Switch Guarantee or the Vulnerability Commitment?
      .other-scores__descriptions
        = render CsrTable::DescriptionListComponent.new do |c|
          - c.with_descriptions(descriptions)
