.score
  %p.score__text
    = score_text
  = render CsrTable::StarsComponent.new(highlight_stars: highlight_stars?, score: score_number, half_stars: half_stars?) if scored?
  - if content?
    %p.score__content
      = content
